###############################################################################
# IDE-specifics
###############################################################################
.vimrc
.editorconfig
.vscode

###############################################################################
# Personal belongings
###############################################################################
.local

###############################################################################
# build files
###############################################################################
build
